@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;



@layer utilities {

*{
  font-family: 'Poppins', sans-serif;;
}
  .flex-center{
    @apply flex items-center justify-center
  }
  .top-img{
    clip-path: polygon(0 0,100% 0,100% 100%,15% 100%);
    @media (max-width: 768px) {
      clip-path: none;
    }
  }
  .header-overlay{
    background: linear-gradient(90deg, 
                  rgba(50, 48, 46, 1) 0%, 
                  rgba(63, 62, 61, 1) 27%, 
                  rgba(91, 89, 88, 0.8) 61.5%, 
                  rgba(143, 139, 137, 0) 100%);
    @media(max-width: 768px){
      background: rgba(0,0,0,0.5);
     
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }
  }

  .ribbon {
    background: linear-gradient(90deg, #E55456 0%, #DF4648 47.25%, #D73739 100%);
    box-shadow: 0px 4px 5px 0px #00000033;
    border-radius: 2px;
    display: flex;
    align-items: center;
    font-weight: 300;
    padding: 9px 15px 9px 20px;
    width: 190px;
    color: #fff;
    position: absolute;
    top: 8px;
    left: -14px;
    line-height: 10px;
    font-family: "Inter", sans-serif;
    font-size: 15px;
    font-weight: 500;

    &::before {
 
      left: 0px;
      content: '';
      bottom: -14px;
      position: absolute;
      display: block;
      border-style: solid;
      border-width: 7px;
      border-radius: 4px 0 0 0;
      border-color: #74090B #74090B transparent transparent;
      z-index: 2;
    }


  }
  @media (max-width: 475px) {
    .ribbon{
      left:0;
      &::before{
        display:none;
      }
    }

  }
  .star {
    width: 21px;
    height: 21px;

    background-size: 20px 20px;
    background-repeat: no-repeat;
    background-position: 50%;
  }

  .star-full {
    background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cdefs%3E%3ClinearGradient id='paint0_linear_47_10731' x1='9.85635' y1='-1.33351' x2='9.85635' y2='22.6665' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%23FFEC1C'/%3E%3Cstop offset='1' stop-color='%23E7C921'/%3E%3C/linearGradient%3E%3C/defs%3E%3Cpath d='M8.62969 1.53983C9.09102 0.459828 10.6217 0.459828 11.083 1.53983L12.8257 5.62249C12.9222 5.84907 13.0795 6.0445 13.2802 6.18712C13.481 6.32974 13.7173 6.41398 13.963 6.43049L18.4644 6.72916C19.6804 6.80916 20.159 8.34516 19.2057 9.1025L15.8617 11.7638C15.6591 11.9248 15.5078 12.1413 15.4261 12.3868C15.3444 12.6323 15.3359 12.8962 15.4017 13.1465L16.4764 17.2358C16.779 18.3878 15.5337 19.3292 14.5084 18.7225L10.5337 16.3718C10.328 16.25 10.0934 16.1858 9.85435 16.1858C9.61533 16.1858 9.38069 16.25 9.17502 16.3718L5.20169 18.7225C4.17635 19.3292 2.93102 18.3892 3.23369 17.2358L4.30835 13.1465C4.37425 12.8964 4.36598 12.6325 4.28454 12.387C4.2031 12.1415 4.05201 11.925 3.84969 11.7638L0.504353 9.10383C-0.447647 8.34383 0.0310198 6.81049 1.24702 6.73049L5.74835 6.43049C5.99405 6.41398 6.23038 6.32974 6.43113 6.18712C6.63188 6.0445 6.78922 5.84907 6.88569 5.62249L8.62969 1.53983Z' fill='url(%23paint0_linear_47_10731)' stroke='url(%23paint0_linear_47_10731)' stroke-width='1.5'/%3E%3C/svg%3E");


  }

  .star-half {
    background-image: url("data:image/svg+xml,%3Csvg width='20' height='19' viewBox='0 0 20 19' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cdefs%3E%3ClinearGradient id='vertical-gradient' x1='0' y1='0' x2='0' y2='19' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0%' stop-color='%23FFEC1C'/%3E%3Cstop offset='100%' stop-color='%23E7C921'/%3E%3C/linearGradient%3E%3CclipPath id='half-clip'%3E%3Crect width='10' height='19'/%3E%3C/clipPath%3E%3C/defs%3E%3Cpath d='M8.62969 1.53983C9.09102 0.459828 10.6217 0.459828 11.083 1.53983L12.8257 5.62249C12.9222 5.84907 13.0795 6.0445 13.2802 6.18712C13.481 6.32974 13.7173 6.41398 13.963 6.43049L18.4644 6.72916C19.6804 6.80916 20.159 8.34516 19.2057 9.1025L15.8617 11.7638C15.6591 11.9248 15.5078 12.1413 15.4261 12.3868C15.3444 12.6323 15.3359 12.8962 15.4017 13.1465L16.4764 17.2358C16.779 18.3878 15.5337 19.3292 14.5084 18.7225L10.5337 16.3718C10.328 16.25 10.0934 16.1858 9.85435 16.1858C9.61533 16.1858 9.38069 16.25 9.17502 16.3718L5.20169 18.7225C4.17635 19.3292 2.93102 18.3892 3.23369 17.2358L4.30835 13.1465C4.37425 12.8964 4.36598 12.6325 4.28454 12.387C4.2031 12.1415 4.05201 11.925 3.84969 11.7638L0.504353 9.10383C-0.447647 8.34383 0.0310198 6.81049 1.24702 6.73049L5.74835 6.43049C5.99405 6.41398 6.23038 6.32974 6.43113 6.18712C6.63188 6.0445 6.78922 5.84907 6.88569 5.62249L8.62969 1.53983Z' fill='url(%23vertical-gradient)' clip-path='url(%23half-clip)'/%3E%3Cpath d='M8.62969 1.53983C9.09102 0.459828 10.6217 0.459828 11.083 1.53983L12.8257 5.62249C12.9222 5.84907 13.0795 6.0445 13.2802 6.18712C13.481 6.32974 13.7173 6.41398 13.963 6.43049L18.4644 6.72916C19.6804 6.80916 20.159 8.34516 19.2057 9.1025L15.8617 11.7638C15.6591 11.9248 15.5078 12.1413 15.4261 12.3868C15.3444 12.6323 15.3359 12.8962 15.4017 13.1465L16.4764 17.2358C16.779 18.3878 15.5337 19.3292 14.5084 18.7225L10.5337 16.3718C10.328 16.25 10.0934 16.1858 9.85435 16.1858C9.61533 16.1858 9.38069 16.25 9.17502 16.3718L5.20169 18.7225C4.17635 19.3292 2.93102 18.3892 3.23369 17.2358L4.30835 13.1465C4.37425 12.8964 4.36598 12.6325 4.28454 12.387C4.2031 12.1415 4.05201 11.925 3.84969 11.7638L0.504353 9.10383C-0.447647 8.34383 0.0310198 6.81049 1.24702 6.73049L5.74835 6.43049C5.99405 6.41398 6.23038 6.32974 6.43113 6.18712C6.63188 6.0445 6.78922 5.84907 6.88569 5.62249L8.62969 1.53983Z' fill='none' stroke='url(%23vertical-gradient)' stroke-width='1.5'/%3E%3C/svg%3E");

  }

  .star-empty {
    background-image: url("data:image/svg+xml,%3Csvg width='20' height='19' viewBox='0 0 20 19' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cdefs%3E%3ClinearGradient id='stroke-gradient' x1='9.85635' y1='-1.33351' x2='9.85635' y2='22.6665' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%23FFEC1C'/%3E%3Cstop offset='1' stop-color='%23E7C921'/%3E%3C/linearGradient%3E%3C/defs%3E%3Cpath d='M8.62969 1.53983C9.09102 0.459828 10.6217 0.459828 11.083 1.53983L12.8257 5.62249C12.9222 5.84907 13.0795 6.0445 13.2802 6.18712C13.481 6.32974 13.7173 6.41398 13.963 6.43049L18.4644 6.72916C19.6804 6.80916 20.159 8.34516 19.2057 9.1025L15.8617 11.7638C15.6591 11.9248 15.5078 12.1413 15.4261 12.3868C15.3444 12.6323 15.3359 12.8962 15.4017 13.1465L16.4764 17.2358C16.779 18.3878 15.5337 19.3292 14.5084 18.7225L10.5337 16.3718C10.328 16.25 10.0934 16.1858 9.85435 16.1858C9.61533 16.1858 9.38069 16.25 9.17502 16.3718L5.20169 18.7225C4.17635 19.3292 2.93102 18.3892 3.23369 17.2358L4.30835 13.1465C4.37425 12.8964 4.36598 12.6325 4.28454 12.387C4.2031 12.1415 4.05201 11.925 3.84969 11.7638L0.504353 9.10383C-0.447647 8.34383 0.0310198 6.81049 1.24702 6.73049L5.74835 6.43049C5.99405 6.41398 6.23038 6.32974 6.43113 6.18712C6.63188 6.0445 6.78922 5.84907 6.88569 5.62249L8.62969 1.53983Z' fill='none' stroke='url(%23stroke-gradient)' stroke-width='1.5'/%3E%3C/svg%3E");

  }

  .list-item {

    position: relative;
    padding-left: 20px;


    &::before {
      position: absolute;
      left: 0;
      content: " ";
      width: 15px;
      height: 15px;
      background-image: url('/assets/images/tick_mark.svg');
      background-size: 100% 100%;
      background-repeat: no-repeat;
      display: inline-block;
      font-weight: bold;
      color: #288EB8;
      top: 2px;
    }
  }

  .main-btn{
    background: linear-gradient(90deg, rgba(6, 47, 102, 0.96) 7%, rgba(16, 73, 149, 0.96) 53%, rgba(60, 101, 157, 0.92) 93%);
    box-shadow: 0px 4px 4px 0px #00000040;

  }

  /* sidebar FAQ */


  .arrow-faq {
    &::before {
      transition: transform 0.3s ease;
      position: absolute;
      left: 0px;
      content: " ";
      display: inline-block;
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 4px 0 4px 8px;
      border-color: transparent transparent transparent #FEFEFC;
      top: 9px;
    }
  }




  .arrow-faq.open {
    &::before {
      transform: rotate(90deg);
    }

  }


  .hidden {
    display: none;
  }


  .show {
    display: block;
  }

  /* Recommended */
  .brands-table>*:nth-child(2n){
    background-color: #fff;
  }

  .cell-style {
    @apply  border-b flex justify-center text-center items-center px-1;

    border-color: rgba(221, 221, 221, 0.58);
    &:first-child{
      @apply border-t;
    }
  }


.brands-table::-webkit-scrollbar {
  width: 6px; 
  height: 6px; 
}

.brands-table::-webkit-scrollbar-track {
  background: #C7C7C7; 
}

.brands-table::-webkit-scrollbar-thumb {
  background: #545B63; 
  border-radius: 6px; 
}

.brands-table::-webkit-scrollbar-thumb:hover {
  background: #545B63; 
}



/* Top picks */

.top-picks {
  max-width: 745px;
  position: relative;
  padding-top: 10px;
  margin-top: 40px;
  margin-bottom: 60px
}

.top-picks__title {
  color: #000;
  font-weight: 500;
  font-size: 22px;
  padding-left: 198px;
  padding-bottom: 8px;
  display: block;
  line-height: 120%
}

.top-picks__badge-box {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: -14px;
  top: 6px
}

@media screen and (max-width: 475px) {
  .top-picks__title {
      font-size:16px;
      padding-left: 175px;
      padding-bottom: 15px
  }

  .top-picks__badge-box {
      left: 0;
      top: 3px
  }
}

.top-picks__badge-box::before {
  content: "";
  display: block;
  width: 14px;
  height: 8px;
  background-repeat: no-repeat;
  background-size: contain;
  background-image: url("data:image/svg+xml,%3Csvg width='14' height='8' viewBox='0 0 14 8' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M14 8L0 0H14V8Z' fill='black'/%3E%3C/svg%3E%0A");
  position: absolute;
  bottom: -8px;
  left: 0;
  z-index: 1
}

.top-picks__badge-text {
  background: #e55456;
  color: #fff;
  padding: 5px 42px 5px 20px;
  font-weight: 600;
  font-size: 22px;
  -webkit-clip-path: polygon(calc(100% - 30px) 0,95.03% 100%,0 100%,0 0);
  clip-path: polygon(calc(100% - 30px) 0,95.03% 100%,0 100%,0 0);
  line-height: 34px;
}

@media screen and (max-width: 475px) {
  .top-picks__badge-text {
      font-size:17px;
      padding: 6px 38px 6px 16px
  }
}

.top-picks__item {
  padding: 15px 25px 16px 18px;
  background: #fff;
  border: 1px solid #dadada;
  border-radius: 10px;
  display: flex;
  align-items: center
}

@media screen and (max-width: 475px) {
  .top-picks__item {
      padding-right:15px
  }
}

.top-picks__item+* {
  margin-top: 18px
}

.top-picks__img {
  padding-right: 13px;
  border-right: 1px solid #e5e5e5;
  width: -moz-fit-content;
  width: fit-content;
  flex-shrink: 0
}

.top-picks__img .image {
  width: 174px;
  height: 109px
}

.top-picks__img .image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover
}

.top-picks__content {
  padding-left: 16px;
  flex-grow: 1;
  padding-right: 10px
}

@media screen and (max-width: 768px) {
  .top-picks__item {
      border-radius:0;
      box-shadow: 0 4px 4px rgba(0,0,0,.25)
  }

  .top-picks__img {
      display: none
  }

  .top-picks__content {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-right: 20px;
      flex-grow: 0;
      padding-left: 0
  }
}

.top-picks__content .logo {
  display: none
}

@media screen and (max-width: 768px) {
  .top-picks__content .logo {
      display:block;
      max-width: 140px
  }

  .top-picks__content .tag {
      order: -1;
      font-style: italic;
      margin-bottom: 10px
  }
}

@media screen and (max-width: 475px) {
  .top-picks__content {
      flex-shrink:0
  }

  .top-picks__content .logo {
      max-width: 120px
  }
}

.top-picks__content .logo img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
  object-fit: contain
}

.top-picks__content .tag {
  color: #939393;
  font-size: 16px;
  line-height: 120%
}

.top-picks__content .title {
  font-weight: 600;
  font-size: 22px;
  color: #000;
  margin-top: 5px;
  margin-bottom: 7px
}

.top-picks__content .feature {
  color: #000;
  font-size: 12px;
  line-height: 120%;
  margin-top: 8px
}

.top-picks__cta {
  width: 200px;
  flex-shrink: 0
}

@media screen and (max-width: 768px) {
  .top-picks__content .feature,.top-picks__content .score,.top-picks__content .title {
      display:none
  }

  .top-picks__cta {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      flex-grow: 1
  }

  .top-picks__cta>*+* {
      margin-top: 10px
  }
}

@media screen and (max-width: 475px) {
  .top-picks__cta {
      flex-shrink:1
  }
}

.top-picks__cta .btn {
  height: 43px;
  background: #3784ed;
  border-radius: 0;
  font-weight: 600;
  font-size: 18px;
  color: #fff;
  border: none;
  flex-shrink: 0;
  width: 100%;
  box-shadow: none;
  filter: drop-shadow(0 4px 4px rgba(0, 0, 0, .25));
  text-transform: none;
  line-height: 100%;
  padding: 0 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media screen and (max-width: 768px) {
  .top-picks__cta .btn {
      order:2;
      height: 37px;
      font-size: 16px;
      box-shadow: none;
      border-radius: 20px;
      filter: unset;
      text-transform: unset
  }
}

@media screen and (max-width: 375px) {
  .top-picks__content .logo {
      max-width:100px
  }

  .top-picks__cta .btn {
      font-size: 14px;
      padding: 0 10px
  }
}

.top-picks__cta .offer {
  margin-top: 18px;
  width: 100%;
  border: 2px dashed #f54242;
  border-radius: 5px;
  padding: 10px;
  color: #f54242;
  font-weight: 700;
  font-size: 12px;
  line-height: 120%;
  font-style: italic;
  text-align: center
}

.top-picks__cta-mob {
  display: none;
  justify-content: center;
  align-items: center
}

.top-picks__cta-mob>*+* {
  margin-left: 9px
}

@media screen and (max-width: 768px) {
  .top-picks__cta .offer {
      margin-top:0;
      font-size: 14px
  }

  .top-picks__cta-mob {
      display: flex;
      flex-wrap: wrap;
      margin-bottom: 9px
  }
}

.top-picks__cta-mob .brand {
  color: #000;
  font-weight: 700;
  font-size: 18px
}

.top-picks__cta-mob .score .star-container * {
  width: 15px;
  height: 15px
}


/* Tabs */

.rcmd-section {
  display: flex;
  margin-bottom: 50px
}

.rcmd-section>*+* {
  margin-left: 40px
}

@media screen and (max-width: 992px) {
  .article__columns img,.article__columns picture {
      display:block;
      width: 100%;
      max-width: 476px;
      margin-bottom: 0
  }

  .rcmd-section {
      flex-direction: column
  }

  .rcmd-section>*+* {
      margin-left: 0;
      margin-top: 30px
  }
}

.rcmd-section__content {
  max-width: 740px
}

.rcmd-section__content h3 a {
  text-decoration: none
}

.rcmd-section__content :first-child {
  margin-top: 0
}

.rcmd-section__content .link {
  text-decoration: none;
  color: #2f80ed;
  font-weight: 600;
  font-size: 16px;
  display: flex;
  align-items: center;
  -moz-column-gap: 0;
  column-gap: 0
}

.rcmd-section__content .link::after {
  content: "";
  width: 14px;
  height: 11px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  flex-shrink: 0;
  background-image: url("data:image/svg+xml,%3Csvg width='15' height='12' viewBox='0 0 15 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M7.79289 0.792893C8.18342 0.402369 8.81658 0.402369 9.20711 0.792893L14.4142 6L9.20711 11.2071C8.81658 11.5976 8.18342 11.5976 7.79289 11.2071C7.40237 10.8166 7.40237 10.1834 7.79289 9.79289L10.5858 7H1C0.447715 7 0 6.55228 0 6C0 5.44772 0.447715 5 1 5H10.5858L7.79289 2.20711C7.40237 1.81658 7.40237 1.18342 7.79289 0.792893Z' fill='%232F80ED'/%3E%3C/svg%3E%0A");
  margin-left: 7px
}

.rcmd-section__content .link span {
  text-decoration: underline
}

.rcmd-section__card {
  max-width: 400px;
  flex-shrink: 0;
  width: 100%
}

.spcls__title {
  font-weight: 500;
  font-size: 16px;
  color: #000;
  margin-bottom: 14px;
  display: block
}

@media screen and (max-width: 992px) {
  .spcls__title {
      font-weight:600;
      font-size: 20px
  }

  .spcls__title span {
      color: #b89552;
      font-weight: 700
  }
}

.spcls__line {
  display: flex
}

.spcls__line>*+* {
  margin-left: 10px
}

@media screen and (max-width: 475px) {
  .rcmd-section__card {
      max-width:100%
  }

  .spcls__line {
      flex-direction: column
  }

  .spcls__line>*+* {
      margin-left: 0;
      margin-top: 10px
  }
}

.spcls__line+.spcls__line {
  margin-top: 17px
}

.spcls__image {
  max-width: 225px
}

.spcls__image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  border-radius: 3px;
  display: block
}

.spcls__summary {
  display: flex;
  flex-direction: column;
  padding-left: 10px
}

.spcls__summary>*+* {
  margin-top: 10px
}

@media screen and (max-width: 475px) {
  .spcls__image {
      max-width:100%
  }

  .spcls__image img {
      max-height: 160px
  }

  .spcls__summary {
      gap: 10px 10px;
      display: grid;
      grid-template-columns: repeat(2,1fr)
  }

  .spcls__summary>*+* {
      margin-top: 0
  }
}

.spcls__summary-item {
  display: flex;
  align-items: center
}

.spcls__summary-item>*+* {
  margin-left: 10px
}

.spcls__summary-item img {
  width: 26px;
  -o-object-position: left;
  object-position: left;
  -o-object-fit: contain;
  object-fit: contain
}

.spcls__summary-item__text {
  display: flex;
  flex-direction: column
}

.spcls__summary-item__text>*+* {
  margin-top: 2px
}

.spcls__summary-item__text .title {
  font-size: 12px;
  color: #000;
  font-weight: 500;
  line-height: 100%
}

.spcls__summary-item__text .value {
  font-weight: 300;
  font-size: 11px;
  color: #555;
  line-height: 100%
}

.spcls__offer {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px dashed #f5b0b0;
  border-radius: 5px;
  padding: 7px;
  color: #f41818;
  font-weight: 700;
  font-size: 12px;
  line-height: 120%;
  font-style: italic;
  text-align: center;
  max-width: 225px;
  width: 100%
}

.spcls__btn {
  flex-grow: 1
}

.spcls__btn .btn {
  height: 34px;
  background: #3784ed;
  border-radius: 0;
  font-weight: 600;
  font-size: 14px;
  color: #fff;
  border: none;
  flex-shrink: 0;
  text-transform: uppercase;
  padding: 0 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 140px;
}

@media screen and (max-width: 475px) {
  .spcls__offer {
      max-width:100%
  }

  .spcls__btn .btn {
      border-radius: 20px;
      text-transform: unset
  }
}



.spcls-tabs__btns {
  display: flex
}

.spcls-tabs__btns>*+* {
  margin-left: 8px
}

.spcls-tabs__btn {
  background: #f6f1e8;
  border-width: 1px 1px 0;
  border-style: solid;
  border-color: #fbf6ed;
  border-radius: 10px 10px 0 0;
  font-size: 12px;
  color: #232323;
  padding: 0 12px
}

.spcls-tabs__btn.active {
  border-color: #e8ddc9;
  background: #fffdfb;
  border-bottom: none;
  position: relative;
  z-index: 1;
  padding-bottom: 1px;
  bottom: -1px;
  font-weight: 500
}

.spcls-tabs__panels {
  background: #fffdfb;
  border: 1px solid #e8ddc9;
  border-radius: 0 0 10px 10px;
  padding: 15px 10px 15px 15px
}

.spcls-tabs__panel {
  display: none;
  font-size: 12px;
  color: #757575
}

.spcls-tabs__panel p {
  line-height: 140%
}

.spcls-tabs__panel b,.spcls-tabs__panel strong {
  font-weight: 700;
  color: #000
}

.spcls-tabs__panel.active {
  display: block
}

.spcls-tabs__panel .bnfs-list {
  padding: 0;
  list-style: none;
  display: grid;
  grid-template-columns: repeat(3,auto);
  gap: 10px 10px;
  margin: 0;
  font-weight: 300;
  font-size: 12px;
  color: #000
}

.spcls-tabs__panel .bnfs-list li {
  position: relative;
  padding-left: 18px;
  line-height: 130%
}

.spcls-tabs__panel .bnfs-list li::before {
  content: "";
  display: block;
  width: 13px;
  height: 10px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  background-image: url("data:image/svg+xml,%3Csvg width='14' height='10' viewBox='0 0 14 10' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M12.7953 2.42067C13.3646 1.86691 13.3646 0.969084 12.7953 0.415321C12.226 -0.138441 11.303 -0.13844 10.7338 0.415322L4.89326 6.09668L2.48848 3.75742C1.91921 3.20366 0.99623 3.20366 0.426956 3.75742C-0.142319 4.31119 -0.142319 5.20901 0.426956 5.76277L3.17566 8.43658C3.29581 8.55346 3.43172 8.64567 3.57673 8.71321C3.64624 8.85495 3.74134 8.9878 3.86201 9.10518C4.43128 9.65894 5.35426 9.65894 5.92353 9.10518L12.7953 2.42067Z' fill='%232F80ED'/%3E%3C/svg%3E%0A");
  position: absolute;
  left: 0;
  top: 1px
}

.prcadcns {
  display: flex
}

.prcadcns>*+* {
  margin-left: 20px
}

@media screen and (max-width: 395px) {
  .spcls-tabs__panel .bnfs-list {
      grid-template-columns:repeat(2,auto)
  }

  .prcadcns {
      flex-direction: column
  }

  .prcadcns>*+* {
      margin-left: 0;
      margin-top: 10px
  }
}

.prcadcns ul {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
  line-height: 130%;
  flex-basis: 50%;
  flex-grow: 1
}

.prcadcns ul>*+* {
  margin-top: 5px
}

.prcadcns ul li {
  display: flex
}

.prcadcns ul li::before {
  content: "";
  display: block;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  width: 9px;
  height: 9px;
  flex-shrink: 0;
  margin-right: 6px;
  margin-top: 2px
}

.prcadcns ul.prcadcns__pros li::before {
  background-image: url("data:image/svg+xml,%3Csvg width='9' height='9' viewBox='0 0 9 9' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M0 4.45923C0 3.90694 0.447715 3.45923 1 3.45923H8C8.55228 3.45923 9 3.90694 9 4.45923C9 5.01151 8.55228 5.45923 8 5.45923H1C0.447715 5.45923 0 5.01151 0 4.45923Z' fill='%230DC189'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M0 4.45923C0 3.90694 0.447715 3.45923 1 3.45923H8C8.55228 3.45923 9 3.90694 9 4.45923C9 5.01151 8.55228 5.45923 8 5.45923H1C0.447715 5.45923 0 5.01151 0 4.45923Z' fill='%230DC189'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M0 4.45923C0 3.90694 0.447715 3.45923 1 3.45923H8C8.55228 3.45923 9 3.90694 9 4.45923C9 5.01151 8.55228 5.45923 8 5.45923H1C0.447715 5.45923 0 5.01151 0 4.45923Z' fill='%230DC189'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M4.54102 0C5.0933 0 5.54102 0.447715 5.54102 1V7.91817C5.54102 8.47046 5.0933 8.91817 4.54102 8.91817C3.98873 8.91817 3.54102 8.47046 3.54102 7.91817V1C3.54102 0.447715 3.98873 0 4.54102 0Z' fill='%230DC189'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M4.54102 0C5.0933 0 5.54102 0.447715 5.54102 1V7.91817C5.54102 8.47046 5.0933 8.91817 4.54102 8.91817C3.98873 8.91817 3.54102 8.47046 3.54102 7.91817V1C3.54102 0.447715 3.98873 0 4.54102 0Z' fill='%230DC189'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M4.54102 0C5.0933 0 5.54102 0.447715 5.54102 1V7.91817C5.54102 8.47046 5.0933 8.91817 4.54102 8.91817C3.98873 8.91817 3.54102 8.47046 3.54102 7.91817V1C3.54102 0.447715 3.98873 0 4.54102 0Z' fill='%230DC189'/%3E%3C/svg%3E%0A")
}

.prcadcns ul.prcadcns__cons li::before {
  background-image: url("data:image/svg+xml,%3Csvg width='9' height='9' viewBox='0 0 9 9' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M1 5C1 4.44772 1.44772 4 2 4H7.38881C7.9411 4 8.38881 4.44772 8.38881 5C8.38881 5.55228 7.9411 6 7.38881 6H2C1.44772 6 1 5.55228 1 5Z' fill='%23F54242'/%3E%3C/svg%3E%0A")
}

.arrow{
  display: flex;
  align-items: center;
  gap:4px;
  transition: all .3s;

}
.arrow::after{
  content: "";
  width: 10px;
  height: 10px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  flex-shrink: 0;
  background-image: url("data:image/svg+xml,%3Csvg width='11' height='8' viewBox='0 0 11 8' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1 3.5C0.723858 3.5 0.5 3.72386 0.5 4C0.5 4.27614 0.723858 4.5 1 4.5L1 3.5ZM10.3536 4.35355C10.5488 4.15829 10.5488 3.84171 10.3536 3.64645L7.17157 0.464467C6.97631 0.269204 6.65973 0.269204 6.46447 0.464467C6.2692 0.659729 6.2692 0.976311 6.46447 1.17157L9.29289 4L6.46447 6.82843C6.2692 7.02369 6.2692 7.34027 6.46447 7.53553C6.65973 7.7308 6.97631 7.7308 7.17157 7.53553L10.3536 4.35355ZM1 4.5L10 4.5L10 3.5L1 3.5L1 4.5Z' fill='%234A89E1'/%3E%3C/svg%3E%0A");
  transition: transform .3s;
  /* margin-top: 4px; */
  display: inline-block;
}
.arrow-white::after{
  background-image: url("data:image/svg+xml,%3Csvg width='10' height='10' viewBox='0 0 10 10' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_4021_6339)'%3E%3Cg clip-path='url(%23clip1_4021_6339)'%3E%3Cpath d='M1.07422 1.07373L4.54363 4.83225L1.07422 8.59078' stroke='%23FFFFFF' stroke-width='1.04082' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M4.95703 1.07373L8.42644 4.83225L4.95703 8.59078' stroke='%23FFFFFF' stroke-width='1.04082' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/g%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_4021_6339'%3E%3Crect width='9.66477' height='9.66477' fill='white'/%3E%3C/clipPath%3E%3CclipPath id='clip1_4021_6339'%3E%3Crect width='9.66477' height='9.66477' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");
}
.arrow:hover::after{
  transform: translate(5px, 0);
}

.arrow-btn::after{
  width: 12px;
  height: 12px;
  margin-top: 2px;
}
.arrow-middle::after{
  margin-top: 2px;
}
.arrow-gray{
  color: #FEFEFE;
  &::after{
  background-image: url("data:image/svg+xml,%3Csvg width='6' height='6' viewBox='0 0 8 8' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M4.71893 3.91016C4.77001 3.96124 4.79556 4.01999 4.79556 4.0864C4.79556 4.15281 4.77001 4.21156 4.71893 4.26265L1.14805 7.83353C1.09696 7.88461 1.03821 7.91016 0.9718 7.91016C0.905389 7.91016 0.846641 7.88461 0.795555 7.83353L0.412413 7.45039C0.361328 7.3993 0.335785 7.34055 0.335785 7.27414C0.335785 7.20773 0.361328 7.14898 0.412413 7.0979L3.42391 4.0864L0.412413 1.07491C0.361328 1.02382 0.335785 0.965074 0.335785 0.898662C0.335785 0.832251 0.361328 0.773502 0.412413 0.722417L0.795555 0.339275C0.846641 0.288189 0.905389 0.262647 0.9718 0.262647C1.03821 0.262647 1.09696 0.288189 1.14805 0.339275L4.71893 3.91016ZM7.66146 3.91016C7.71254 3.96124 7.73808 4.01999 7.73808 4.0864C7.73808 4.15281 7.71254 4.21156 7.66146 4.26265L4.09057 7.83353C4.03949 7.88461 3.98074 7.91016 3.91433 7.91016C3.84792 7.91016 3.78917 7.88461 3.73808 7.83353L3.35494 7.45039C3.30386 7.3993 3.27831 7.34055 3.27831 7.27414C3.27831 7.20773 3.30386 7.14898 3.35494 7.0979L6.36644 4.0864L3.35494 1.07491C3.30386 1.02382 3.27831 0.965074 3.27831 0.898662C3.27831 0.832251 3.30386 0.773502 3.35494 0.722417L3.73808 0.339275C3.78917 0.288189 3.84792 0.262647 3.91433 0.262647C3.98074 0.262647 4.03949 0.288189 4.09057 0.339275L7.66146 3.91016Z' fill='%23FEFEFE'/%3E%3C/svg%3E%0A");
 
  width: 8px;
  height: 8px;
}}
}